<form id="form">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Dvd# :</span>
                    <input type="number" class="form-control" placeholder="#DvD" aria-describedby="sizing-addon2" id="numOfDvd" min="0">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="genre1" style="width:150px">
                        <option id="default" selected disabled="">
                            <label for="default">Genre</label>
                        </option>>
                        <option value="Thriller">Thriller</option>
                        <option value="Action">Action</option>
                        <option value="Horror">Horror</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Romacne">Romacne</option>
                        <option value="Drama">Drama</option>
                        <option value="Musical">Musical</option>
                        <option value="Western">Western</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Animation">Animation</option>
                        <option value="Sci-fi">Sci-Fi</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Year:</span>
                    <input type="number" class="form-control" placeholder="#DvD" aria-describedby="sizing-addon2" id="numOfDvd" min="0">
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Time :</span>
                    <input type="number" class="form-control" placeholder="#DvD" aria-describedby="sizing-addon2" id="numOfDvd" min="0">
                </div>
            </div>
        </div>
    </div>
</form>